@import 'tailwindcss';

@theme {
	--color-primary: #93bf8d;
	--color-primary-dark: #7aa874;
	--color-bg-light: #f7f7f6;
	--color-bg-dark: #171c16;
	--color-bg-page: #171c16;
	--color-bg-card: #171c16;
	--color-bg-card-hover: #1e293b;
	--color-bg-input: #1e293b;
	--color-border-card: #1e293b;
	--color-border-subtle: #1e293b;
	--color-text-primary: #e2e8f0;
	--color-text-secondary: #94a3b8;
	--color-text-muted: #64748b;
	--font-family-display: 'Inter', sans-serif;
}

body {
	font-family: 'Inter', sans-serif;
	background-color: var(--color-bg-page);
	color: var(--color-text-primary);
}

.material-symbols-outlined {
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}
.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
